<div class="comment" id="comment-<%=comment.id%>">
  <div class="author"><%=comment.user.name%> writes:</div>
  <div class="text">
    <%== comment.text_html %>
  </div>
  <div class="timestamp">on
    <% unless defined?(nolink) && nolink %>
      <a href="#comment-<%=comment.id%>"><%=comment.updated_at.to_formatted_s(:long_ordinal)%></a>
    <% else %>
      <%=comment.updated_at.to_formatted_s(:long_ordinal)%>
    <% end %>
  </div>
</div>
