<p id="notice"><%= notice %></p>

<p>
  <strong>Object:</strong>
  <%= @comment.object_id %>
</p>

<p>
  <strong>Object type:</strong>
  <%= @comment.object_type %>
</p>

<p>
  <strong>Text:</strong>
  <%= @comment.text %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user_id %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
