<div class="page-container">
  <% if current_user.handle.nil? %>
    you need to pick a handle (username):
    <%= form_for(current_user) do |f| %>
      <% if @user && @user.errors.any? %>
       <div id="error_explanation">
         <ul>
           <% @user.errors.full_messages.each do |message| %>
             <li><%= message %></li>
           <% end %>
          </ul>
        </div>
      <% end %>
      <div class="field">
        <%= f.text_field :handle %>
      </div>
      <%= f.submit %>
    <% end %>
  <% else %>
    <!--Activity Feed (shows comments/objections/prs on theorems + users you are following)<br> --!>
    <!--New Theorems (site-wide root-theorem feed)<br> --!>
    Notifications<br>
    <div class="notifications-feed">
      <% @notifications.each do |theorem, array| %>
        <div class="theorem-notifications">
          <div class="theorem-title">On <a href="<%=theorem_path(theorem)%>"><%=theorem.text%></a></div>
          <% array.each do |notification| %>
            <% if notification.object.is_a?(Comment) %>
              <% comment = notification.object %>
              <a href="<%=theorem_path(theorem) + "#comment-#{comment.id}"%>" class="notification <%=notification.viewed ? 'old' : 'new'%>">
               <% unless notification.viewed %>
                 <span class="new-indicator">New</span>
               <% end %>
                <%= render partial: 'comments/comment', locals:{ comment: comment, nolink: true }%>
              </a>
            <% end %>
            <% notification.viewed! unless notification.viewed %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
