<%= form_for(@theorem) do |f| %>
  <% if @theorem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@theorem.errors.count, "error") %> prohibited this theorem from being saved:</h2>

      <ul>
      <% @theorem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </div>

  <% if params[:objection_id] %>
    <%= hidden_field_tag :objection_id, params[:objection_id] %>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
