<%= form_for(@theorem) do |f| %>
  <% if @theorem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@theorem.errors.count, "error") %> prohibited this theorem from being saved:</h2>

      <ul>
      <% @theorem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text %> (<%=Theorem::MAX_LENGTH%> character maximum)<br>
    <%= f.text_field :text %>
  </div>

  <% unless params[:objection_id] %>
    <div class="field">
      <%= f.label :root %><br>
      <p>Select yes if this is a new, standalone theorem you are setting out to prove.</p>
      <%= f.radio_button :root, true %> Yes
      <%= f.radio_button :root, false %> No
    </div>
  <% end %>

  <% if params[:objection_id] %>
    <%= hidden_field_tag :objection_id, params[:objection_id] %>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
