<p id="notice"><%= notice %></p>

<h1><%=current_user ? "Your " : ""%>Theorems</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <% unless current_user %>
        <th>User</th>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @theorems.each do |theorem| %>
      <tr>
        <td><%= theorem.text %></td>
        <% unless current_user %>
          <td><%= theorem.user.name %></td>
        <% end %>
        <td><%= link_to 'Show', theorem %></td>
        <td><%= link_to 'Destroy', theorem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user %>
<%= link_to 'New Theorem', new_theorem_path %>
<% end %>
