<h1>Objections to <a href="<%=@theorem.supported? ? theorem_path(@theorem) : theorem_path(@theorem.parent) %>"><%=@theorem.text%></a></h1>

<div class="page-container">
  <% @theorem.objections.each do |obj|
     obj_theorem = obj.counter_theorem
  %>
    <div class="objection">
      <%= link_to obj_theorem.text, theorem_path(obj_theorem) %>
      <% if obj_theorem.source %>
        <%= link_to "source", obj_theorem.source %>
      <% end %>
      <div class="author">by <%=obj_theorem.user.name%></div>
      <% unless obj_theorem.supported? %>
        <div class="unsupported-notice">This objection is unsupported.</div>
      <% end %>
    </div>
  <% end %>
  <div>
    <a href="<%=new_theorem_path()+"?objection_id=#{@theorem.id}"%>">New objection</a>
  </div>
</div>
