<div class="page-container root-theorem">
  <div class="theorem-control-buttons">
    <% if can? :update, @display_object %>
      <button title="Add a new argument to support this theorem" id="new-argument">New Argument</button>
      <% unless @display_object.source %>
        <%= react_component('NewSource', updateTheoremPath: theorem_path(@display_object), theorem_id: @display_object.id) %>
      <% end %>
    <% end %>
  </div>

  <div class="page-titles">
    <% if @path.count == 0 %>
      <p class="heading"><%=@theorem.text%> <span class="byline">by <%=@theorem.user.name%></span></p>
    <% else %>
      <p><a href="<%=theorem_path%>"><%=@theorem.text%></a></p>
    <% end %>
    <% @path.each_with_index do |string, index| %>
      <% object = string.split(":").first.constantize.find(string.split(":").last) %>
      <% if index == @path.count - 1 %>
        <p class="heading"><%=object.tree_name%> <span class="byline">by <%=object.user.name%></span></p>
      <% else %>
        <p><%=object.tree_symbol%> <a href="<%=theorem_path + "?" + {path: @path.take(index+1).join("/")}.to_query%>"><%=object.tree_name%></a></p>
      <% end %>
    <% end %>
  </div>

  <% if can? :update, @display_object %>
    <%= react_component('NewArgument', createArgumentPath: arguments_path, theorem_id: @display_object.id, user: current_user, max: Theorem::MAX_LENGTH) %>
  <% end %>

  <% if @display_object.source %>
    <p>Source supporting the claim: <%= link_to @display_object.source, @display_object.source %></p>
  <% end %>

  <% if @display_object %>
    <% if @display_object.is_a?(Argument) %>
      <%= render partial: 'arguments/argument', locals: {argument: @display_object} %>
    <% elsif @display_object.is_a?(Theorem) %>
      <%= render partial: 'theorems/theorem', locals: {theorem: @display_object} %>
    <% end %>
  <% end %>

  <hr>


  <div class="comments">
    <h3>Comments</h3>
    <% @display_object.comments.each do |comment| %>
      <%= render partial: 'comments/comment', locals: {comment: comment} %>
    <% end %>
  </div>
  <% if current_user %>
    <%= react_component('NewComment', object: {id: @display_object.id, type: @display_object.class.to_s}, user: current_user) %>
  <% else %>
    <%= link_to "Sign in to make a new comment", (user_omniauth_authorize_path(:facebook) + '?' + {origin: request.path}.to_query) %>
  <% end %>
</div>

<script>
  $(function(){
    $('#new-argument').click(function(e) {
       $(window).trigger('new-argument-toggle');
    })
  })
</script>
