<!DOCTYPE html>
<html>
<head>
  <title>Proofs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% link = current_user ? theorems_path : '/' %>
  <div class="site-header">
    <a href="<%=link%>">Most people purporting to wisdom dare not engage in dialogue, lest they reveal the paucity of their assumptions and the frailty of their convictions.</a>
    <% if user_signed_in? %>
      <div class="user-welcome"><span><%=current_user.name%></span> <a href="<%=new_theorem_path%>"><i class="fa fa-plus"></i></a></div>
    <% end %>
  </div>
  <% unless user_signed_in? %>
    <div class="user-sign-in">Sign in with <%= link_to "Facebook", (user_omniauth_authorize_path(:facebook) + '?' + {origin: request.path}.to_query) %> or <%= link_to "Google", (user_omniauth_authorize_path(:google_oauth2) + '?' + {origin: request.path}.to_query) %></div>
  <% end %>

<%= yield %>

</body>
</html>
