<!DOCTYPE html>
<html>
<head>
  <title>Proofs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% link = current_user ? arguments_path : '/' %>
  <div class="site-header"><a href="<%=link%>">Most people purporting to wisdom dare not engage in dialogue, lest they reveal the paucity of their assumptions and the frailty of their convictions.</a></div>
  <% if !user_signed_in? %>
    <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
  <% end %>

<%= yield %>

</body>
</html>
